.nav-link {
    color: grey
}

.list-group-dark {
    background-color: black;
}

.list-group-item {
    background-color: black;
}

.list-group-item.active {
    background-color: black;
}

.list-group-action-color {
    color: grey;
}

tab .nav-link.active {
    background-color: black;
    color: black;
    border-color: black;
}

.color-blue {
    color: #2a9fd6;
}

span.d-none {
    color: white;
}

.form-control-feedback{
    position: absolute;
    height: 35px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.form-control {
    padding-left: 35px;
    margin-right: 40px;
}

.fa-ellipsis-h {
    color: white;
}

.fa-stack {
    font-size: 0.5em;
}

.btn {
    min-width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nowrap {
    white-space: nowrap;
}
.wd-bg-color-black {
    background-color: black;
}

.wd-bg-color-darkgray {
    background-color: rgb(33, 35, 35);
    border: rgb(33, 35, 35);
}

.border-darkgray {
    border-color: rgb(47, 51, 54);
}

.wd-fg-color-gray {
    color: gray;
}

.wd-font-family-arial {
    font-family: Arial;
}

.wd-font-size-15 {
    font-size: 15px;
}

.wd-font-weight-light {
    font-weight: 400;
}

.padding-fat {
    padding: 50px;
}

.wd-float-left {
    float: left;
}

.wd-rounded-corners-all-around {
    width: 70%;
    border-radius: 50px;
    padding: 5px 30px 5px 50px;
    color: white;
}

#searchIcon {
    position: relative;
    z-index: 1;
    right: -25px;
    width: 0;
}

#gearIcon {
    position: relative;
    color: dodgerblue;
    float: right;
}

.wd-setting-icon {
    min-width: 56px;
}

.wd-nav-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 15px;
}

a:link {
    text-decoration: none;
}

a:active {
    color: rgb(29, 161, 242);
}

b {
    color: white;
}

.me-auto {
    color: white;
}

.wd-active-nav-tab {
    color: rgb(29, 161, 242);
    border-bottom: 4px solid rgb(29, 161, 242);
    margin-bottom: -15px;
}

.wd-other-nav-tab {
    color: rgb(110, 118, 125);
}

#wd-nav-separator {
    margin-top: 15px;
    background-color: rgb(47, 51, 54);
    border-color: rgb(47, 51, 54);
    color: rgb(47, 51, 54);
    height: 2px;
    margin-bottom: 0px;
    margin-left: -16px;
    margin-right: -16px;
}

#wd-spacer {
    height: 16px;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -12px;
}

.wd-container {
    border: 1px solid rgb(47, 51, 54);
    padding: 12px 16px 12px 16px;
}

.wd-row-top {
    font-size: 13px;
}

.wd-row-text {
    color: white;
    font-size: 13px;
    margin-left: 5px;
}

.wd-row {
    color: white;
    font-size: 13px;
    margin-top: 5px;
}

.wd-topic-format {
    color: lightgray;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: -6px;
}

#moreIcon {
    position: relative;
    z-index: 1;
    right: -25px;
    width: 0;
}

#checkIcon {
    position: relative;
    color: white;
    left: 5px;
    margin-left: -5px;
}

.wd-name-format {
    color: white;
    font-weight: bolder;
    font-size: 12px;
    margin-top: -10px;
}

.wd-topic-format-2 {
    /*color: lightgray;*/
    font-weight: bolder;
    font-size: 16px;
    margin-top: 6px;
    /*margin-bottom: 20px;*/
}


.wd-float-right {
    float: right;
    height: 100px;
}

.wd-float-done {
    clear: both;
}

.wd-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    float: right;
}

.wd-image-size {
    width: 13px;
    height: 13px;
}

.wd-flex-box {
    margin-left: 16px;
    margin-top: 16px;
    padding: 10px;
}

.wd-flex-container {
    display: flex;
    justify-content: space-between;
}

.wd-search {
    display: flex;
    align-items: center;
}

.wd-textfield {
    flex-grow: 1;
}

.wd-flex-content-box {
    display: flex;
    align-items: start;
    margin-top: 3px;
    margin-bottom: 3px;
}

.wd-flex-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wd-dot {
    width: 18px;
}

.background-color-blue {
    background-color: #2a9fd6;
}